body{
    margin: 0;
    padding: 0;
    background-color: #ECEEF1;
}
a {
    text-decoration: none;
    color: #0077C5;
}

main {
    /* width: 100%; */
    border: 1px solid red;
    display: block;
}

header {
    float: right;
    margin: 15px 50px 15px 50px;
}

.account {
    line-height: 1.6;
    float: right;
    margin-top: 15px;
    font-size: 10px;
    /* margin-right: 5px; */
    display: inline-flex;
    text-align: right;
    margin-right: 50px;
}
