body{
    margin: 0;
    padding: 0;
    background-color: #ECEEF1;
}
a {
    text-decoration: none;
    color: #0077C5;
}

main {
    /* width: 100%; */
    border: 1px solid red;
    display: block;
}
